@model IEnumerable<Elearn.ElearnModel.Module>

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "StaffModule";
    int id = (int)@HttpContextAccessor.HttpContext.Session.GetInt32("CourseId");

}

<p>
    <a class="btn btn-warning" asp-controller="Module" asp-action="Create" asp-route-id=@id>Create New</a>
</p>
<table style="color:white" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Courseid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modulename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Video)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Courseid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modulename)
                </td>
                <td>
                    @*<video class="card-img-top"  alt="Card image" style="width:100%"></video>*@
                    <iframe src="@Url.Content(item.Video)" title="description">VV</iframe>
                    @*@Html.DisplayFor(modelItem => item.Video)*@
                </td>
                @*<td style="color:white">
                    <a asp-action="Edit" asp-route-id="@item.Moduleid">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Moduleid">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Moduleid">Delete</a>
                </td>*@
            </tr>
        }
    </tbody>
</table>

<div>
    <a  class="btn btn-warning" asp-action="CourseIndex" asp-controller="Course">Back to AllCourses</a>
</div>
