@model IEnumerable<Elearn.ElearnModel.Course>

@{
    ViewData["Title"] = "Course2";
}


@*@Html.DisplayNameFor(model => model.Coursename)


    @Html.DisplayNameFor(model => model.Description)*@
<style>
    #divprofile {
        border: solid;
        background-color: aliceblue;
        margin-top: 20px;
    }

    #c {
        background-color: aliceblue;
        margin-left: 4px;
        margin-top: 20px;
    }

    #d {
        margin-top: 20px;
    }

    #i {
        margin-top: 20px;
        border-radius: 50px;
    }

    #e {
        margin-left: 70px;
    }


    .c1 {
        text-align: center;
    }
</style>
<a class="btn btn-warning" asp-action="MyCourse" asp-controller="Student" onclick="location.href='@Url.Action("Student", "MyCourse" )'">My Courses</a>

<div class="container" id="e">
    <div class="row">
        <div class="col">
            <div class="row">

                @foreach (var item in Model)
                {

                    <div class="card" id="c" style="width:250px">
                        <img class="card-img-top" src="@Url.Content(item.Image)" alt="Card image" style="width:100%">
                        <div class="card-body c1">

                            <b>@item.Coursename</b>
                            <br>
                            @item.Description <br><b>Just for ₹@item.Amount</b>

                        </div>


                        <div class="c1">

                            @*<a class="btn btn-primary" asp-action="Enroll" asp-controller="Student" asp-route-id="@item.Courseid">Enroll</a>*@
                            <a class="btn btn-primary" asp-action="Payment" asp-controller="Course" asp-route-id="@item.Courseid">Pay</a>

                            @*<a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Courseid">Details</a>*@
                        </div>
                        <br>
                    </div>


                }
            </div>
        </div>

    </div>
</div>


